doctype html
html(lang='en')
  head
    title Playground
    meta(charset='utf-8')
    link(href='styles.css' rel='stylesheet')
    script(type='text/javascript').
      window.webSocketEndpoint = "#{webSocketEndpoint}"
    script(src='main.js')
  body
    aside
      form#send
        input#text(type='text')
      video
    main
